<div class="content">
  <h2>An Error Happened!</h2>

  <p>It appears we are suffering some technical difficulties at the moment.</p>

  <p><strong>If you are testing:</strong> This page means you cannot reach the backend web service, and should check your environment.ts file to make you are pointing to the .NET WebAPI Solution, and that you have that solution running.</p>
</div>
