<div class="content">
  <h2>Products</h2>
</div>
<div class="content" *ngIf="fetching">
  <span class="icon"><i class="fas fa-spinner fa-pulse"></i></span> Loading products...
</div>
<div class="columns is-multiline is-tablet" *ngIf="!fetching">
    <div class="column is-4" *ngFor="let product of productList">
        <div class="card product">
            <div class="card-image">
              <figure class="image is-4by3">
                  <a [routerLink]="['/product', product.productId]"><img src="//placehold.it/1280x960" alt="{{ product.productName }}"></a>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a [routerLink]="['/product', product.productId]">{{ product.productName }}</a></p>
                  <p class="subtitle is-6">$5.00</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>