<div class="individual-product" *ngIf="product != null">
  <div class="content">
    <a [routerLink]="['/']"><span class="icon is-small"><i class="fas fa-chevron-left"></i></span> Back to products</a>
    <h2>{{ product.productName }}</h2>
  </div>

  <div class="columns">
    <div class="column">
      <figure class="image is-2by1">
        <img src="//placehold.it/1280x960" alt="{{ product.productName }}">
      </figure>
      <hr>
      <div class="content">
        <p>Suspendisse consectetur euismod enim, non sodales risus cursus ultricies. Vestibulum sit amet tincidunt ex. Cras
          dignissim leo vitae interdum mattis. Nam auctor tellus mauris, quis vulputate neque mollis sed. Sed lacinia risus
          vel erat fringilla hendrerit. Maecenas a eleifend leo. Morbi gravida viverra ante quis ultrices. Nulla facilisi.
          Nulla laoreet urna nec lectus gravida maximus. Quisque id laoreet nisl, ac fermentum risus. Duis pretium, leo non
          iaculis dignissim, neque velit scelerisque dui, non finibus urna elit in elit. Duis rutrum risus leo, sit amet
          tempus sem ultrices nec.</p>
      </div>
    </div>
    <div class="column is-one-quarter content">
      <h3>$5.00</h3>
      <button disabled class="button is-success is-fullwidth">Buy Now</button>
      <small>{{ product.inventoryQuantity }} in stock!</small>
      <hr>
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">Shipping Calculator</p>
        </div>
        <div class="card-content">
          <div class="content">
            <input class="input" [ngModel]="selectedDate | date:'yyyy-MM-dd'" (ngModelChange)="calculateShippingDate($event)" type="date"
              placeholder="">
            <hr>
            <p><em>Expect to Ship By:</em></p>
            <span>{{ expectedShipDate | date:'MM/dd/yyyy' }}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>